{% extends "base.html" %}
{% load serializer_tag %}

{% block content %}
    <h1>Produtos</h1>

    <pre>{% json_products products %}</pre>

    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}